
body {
  background-color: #02111B;
  font-family: "Smythe", serif;
  text-shadow: 0px 0px 1px black;
}
.school {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #5D737E;
  border: 10px outset #3e4d55;
  width: 75%;
  border-radius: 5px;
  margin: auto;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.expel-el {
  display: block;
  margin: auto;
  color: #FCFCFC;
  background-color: #02111B;
  font-weight: 400;
  border: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 70px;
  padding: 2px 0;
}
.expel-el:hover {
  border: 5px inset #52050A;
  background-color: red;
}
.profile-el {
  height: 300px;
  width: 200px;
  background-image: linear-gradient(#FCFCFC, #5D737E);
  border: 3px solid #52050A;
  border-radius: 25px;
  min-width: 200px;
}
.darkprofile-el {
  height: 300px;
  width: 200px;
  background-image: linear-gradient(rgb(0, 56, 0), #02111B);
  border: 3px solid #52050A;
  border-radius: 25px;
  min-width: 200px;
}
.name-el {
  text-align: center;
  font-size: 20px;
}
.darkname-el {
  text-align: center;
  font-size: 20px;
  color: rgb(138, 138, 138);
}
.house-el {
  height: 200px;
  width: 140px;
  display: block;
  margin: auto;
}
.title {
  display: block;
  margin: auto;
  font-size: 100px;
  font-weight: 200;
  color: #FCFCFC;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.subtitle {
  display: block;
  margin: auto;
  font-size: 30px;
  font-weight: 200;
  color: #FCFCFC;
  text-align: center;
}
#student-form {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FCFCFC;
  font-size: 20px;
}
#student-field {
  display: block;
  width: 50%;
  height: 30px;
  border-radius: 25px;
  border: none;
  margin: auto;
  text-align: center;
}
#submit-el {
  background-color: #5D737E;
  color: #52050A;
  font-weight: 200;
  display: block;
  margin: auto;
  margin-top: 10px;
}
#house-filters {
  display: flex;
  height: 75px;
  padding-bottom: 20px;
  justify-content: space-evenly;
}
#view-all, #Gryffindor, #Hufflepuff, #Ravenclaw, #Slytherin {
  height: 50px;
  width: 225px;
  border: 5px solid black;
  border-radius: 50px;
  color: #FCFCFC;
  text-shadow: 0px 0px 3px black;
  font-weight: 300;
  font-size: 20px;
  font-family: "Smythe", serif;
}
#view-all {
  background-color: #5D737E;
}
#Gryffindor {
  background-color: #740001;
  border-color: #d3a625;
}
#Hufflepuff {
  background-color: #ecb939;
  border-color: #372e29;
}
#Ravenclaw {
  background-color: #0e1a40;
  border-color: #946b2d;
}
#Slytherin {
  background-color: #1a472a;
  border-color: #aaaaaa;
}
.subtitle-2 {
  color: #FCFCFC;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
